.containerAsideOpacity{
    background-color: rgba(100, 100, 100, 0.5);
    position: fixed;
    top:10%;
    right: 0;
    height: 500px;
    width: 100px;
    border-radius: 8px 0px 0px 8px;
    transform: translateX(100px);
    transition: all 1s;
}

.containerAside{
    background-color: rgba(100, 100, 100, 0.5);
    position: fixed;
    top:10%;
    right: 0;
    height: 500px;
    width: 100px;
    border-radius: 8px 0px 0px 8px;
    transform: translateX(0px);
    transition: all 1s;
}

.navAside{
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.tag{
    height: 40px;
    width: 40px;
    background-color: black;
    position: relative;
    border-radius: 50% 0% 0% 50%;
    left: -40px;
    top: 42%;
    cursor: pointer;

}

.ListItems{
    padding-top:20px;
}